@import "variables.scss";
@import "mixins.scss";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-x: hidden;
    @include body-font;
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding: 20px;
    text-align: center;
}

#logo {
  max-width: 100%;
  height: 50px;
}

header {
    background-image: url('/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    @include auto-clear(lg)
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    @include auto-clear(md)
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    @include auto-clear(sm)
}

@media (max-width: $screen-xs-max) {
    @include auto-clear(xs)
}